@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono:700');

body {
  margin: 0;
  height: 100vh;
  width: 100%;
  background-color: black;
}

.top {
  height: 70%;
  font-size: 0;
}

.buttonAndHandArea {
  height: 30%;
  position: relative;
}

.board {
  width: 70%;
  position: relative;
  height: 100%;
}

.board, .playerInfoArea {
  display: inline-block;
  font-size: 1rem;
  vertical-align: top;
  font-family: 'IBM Plex Mono', monospace;
}

.playerInfoArea {
  width: 30%;
  left: 75%;
  height: 100%;
  font-size: .8rem;
}

.playerInfo {
  width: 100%;
  height: 25%;
  display: flex;
  align-items: center;
  border: 5px solid silver;
  border-radius: 5px;
  box-sizing: border-box;
  color: orange;
}

.playerInner,
.inventory,
.inventoryInner,
.trackerContainer {
  display: inline-block;
  text-align: center;
}

.inventory,
.inventoryInner {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.trackerType {
  text-decoration: underline;
  font-weight: bold;
}

.statusInner, .flex-container {
  display: inline-block;
  position: relative;
  top: 15%;
  vertical-align: top;
}

.statusInner {
  font-size: 1rem;
  width: 15%;
  position: relative;
  left: 15px;
  text-align: center;
  height: 70%;
  color: silver;
  font-size: 20px;
}

.statusTurnNumber, .statusOxygen, .statusTemp, .statusOceanTiles {
  height: 20%;
}

.statusLabel{
  text-decoration: underline;
  font-weight: bold;
  margin: 10%;
}

.flex-container {
  width: 75%;
  left: 5%;
  background-image: url("images/bruno-m.png");
  background-size: cover;
  background-position: center;
}

.row {
  flex-direction: row;
  display: flex;
  justify-content: center;
}

.tile {
  background-color: transparent;
  height: 50px;
  width: 50px;
  border: 1px solid silver;
  box-sizing: border-box;
  color: silver;
}

.tile:hover {
  cursor: pointer;
}

/* ------------------------------------------------------------------------ */
.actionArea {
  position: relative;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
}

.actionArea > button {
  border-radius: 5px;
  margin: 50px;
  vertical-align: middle;
  font-family: 'IBM Plex Mono', monospace;
  background: linear-gradient(to bottom right, silver, orangered);
  height: 150px;
  width: 175px;
  font-size: 1.5em;
}

.actionArea > button:hover {
  cursor: pointer;
}

.modal-shadow {
  height: 100vh;
  width: 100vw;
  background-color: rgba(250,250,250,0.2);
  display: none;
  position: fixed;
  top: 0;
}


.modal {
  /* display: none; */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 5px solid silver;
  font-family: 'IBM Plex Mono', monospace;
}

.modal button:hover, .modal .hand:hover {
  cursor: pointer;
}


.playActionCardModalContent, .standardProjectsModalContent, .convertResourcesModalContent {
  background: linear-gradient(to bottom right, silver, orangered);
  padding: 5px 15px 15px 15px;
}

.close {
  float: right;
  font-size: 1.5em;
  padding-right: 15px;
}

.close:hover {
  color: grey;
  cursor: pointer;
}

.actionCardContainer {
  border: 3px solid black;
  border-radius: 5px;
  box-sizing: border-box;
  display: inline-block;
  height: 150px;
  width: 150px;
  vertical-align: middle;
}

.actionCardInner {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  padding: 5px;
  font-size: 0.7em;
}

@media only screen and (max-width: 980px) {
  .actionArea > button {
    height: 100px;
    width: 115px;
    font-size: 1em;
  }

}
