body {
  margin: 0;
  height: 100vh;
  width: 100%;
}

.top {
  height: 70%;
  font-size: 0;
}

.buttonAndHandArea {
  height: 30%;
  background-color: lightgreen;
  position: relative;
}

.board {
  background-color: purple;
  width: 70%;
  position: relative;
  height: 100%;
}

.board, .playerInfoArea {
  display: inline-block;
  font-size: 1rem;
  vertical-align: top;
}

.playerInfoArea {
  width: 30%;
  background-color: firebrick;
  left: 75%;
  height: 100%;
  font-size: .8rem;
}

.playerInfo {
  width: 100%;
  height: 20%;
  display: flex;
  align-items: center;
}

.playerInner,
.inventory,
.inventoryInner,
.trackerContainer {
  display: inline-block;
  text-align: center;
}

.inventory,
.inventoryInner {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.statusInner {
  font-size: 1rem;
  width: 15%;
  border: 1px solid black;
  position: relative;
  left: 50px;
  text-align: center;

}

.statusInner, .flex-container {
  display: inline-block;
  position: relative;
  top: 20%;
}

.trackerType {
  text-decoration: underline;
  font-weight: bold;
}

.statusLabel{
  text-decoration: underline;
  font-weight: bold;
}

.flex-container {
  width: 50%;
  left: 20%;
}

.row {
  flex-direction: row;
  display: flex;
  justify-content: center;
}

.tile {
  background-color: gold;
  height: 50px;
  width: 50px;
  border: 1px solid black;
  box-sizing: border-box;
}

.ocean {
  background-color: skyblue;
}

/* ------------------------------------------------------------------------ */
.actionArea {
  position: relative;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
}

.actionArea > button {
  height: 150px;
  width: 125px;
  border-radius: 5px;
  margin: 20px;
  vertical-align: middle;
  font-size: 1.5em;
}

.modal {
  #display: none;
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
}

.modalContent {
  background: black;
  color: white;
  padding: 5px 15px 15px 15px;
}

.close {
  float: right;
  font-size: 1.5em;
  padding-right: 15px;
}

.close:hover {
  color: grey;
}

.actionCardContainer {
  border: 1px solid white;
  border-radius: 5px;
  display: inline-block;
  height: 200px;
  width: 200px;
  vertical-align: middle;
}